<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>294144696316-nh13b2ob1fvtpdm2uefhh75sbm21dl9f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.294144696316-nh13b2ob1fvtpdm2uefhh75sbm21dl9f</string>
	<key>API_KEY</key>
	<string>AIzaSyAejxi_w6trh6Q2ch80WUwlPj4-hWbM4oo</string>
	<key>GCM_SENDER_ID</key>
	<string>294144696316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.routinechecker.routinechecker</string>
	<key>PROJECT_ID</key>
	<string>routinechecker-e7027</string>
	<key>STORAGE_BUCKET</key>
	<string>routinechecker-e7027.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:294144696316:ios:5b37c5f837a8d385d95c79</string>
</dict>
</plist>